.hot-container .cover{
    /* background: url('http://p2.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg'); */
    background-position: center;
    background-size: cover;
    height: 220px; 
}